.contact-form {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.formgroup {
  display: flex;
  gap: 10px;
  align-items: center;
  background: white;
  padding: 12px;
  border-radius: 5px;
  margin: 10px 0;
}

.formgroup input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.formgroup textarea {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.submit-btn {
  margin-top: 10px;
  background: var(--button-background);
  color: white;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.input-error {
  color: red;
  font-size: 14px;
}
