.resume-download {
  border: none;
  outline: none;
  background: var(--button-background);
  padding: 10px;
  border-radius: 5px;
  color: white;
  max-width: 300px;
  font-size: 16px;
  display: block;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.skills {
  margin-top: 40px;
}

.skills h3 {
  text-align: center;
}

.skills-bar {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.skill-bar {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.skill-bar p {
  width: 150px;
  font-size: 16px;
}

.bar {
  height: 20px;
  border-radius: 99px;
}
