.about-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.about-section .name {
  font-size: clamp(48px, 5vw, 45px);
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  background: var(--color-accent);
  background-clip: text;
  color: transparent;
}

.about-section .name .small {
  font-size: 22px;
  letter-spacing: 0px;
  text-transform: none;
  margin-bottom: 0;
  font-weight: normal;
  color: black;
  background-clip: unset;
}

.about-section .subtitle {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  font-size: 17px;
  color: black;
}

.about-image {
  max-width: 100%;
  width: 220px;
  border-radius: 50%;
  border: 5px solid var(--color-accent);
}

.cta-btn {
  padding: 10px;
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 20px;
  border: 2px solid var(--color-accent);
  outline: none;
  background: white;
  color:var(--color-accent);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

.cta-btn:hover {
padding: 10px;
max-width: 300px;
width: 100%;
border-radius: 20px;
font-size: 16px;
margin-top: 20px;
border: 2px solid var(--color-accent);
outline: none;
background: var(--color-accent);
color:white;
text-transform: uppercase;
letter-spacing: 5px;
font-weight: bold;
}