.contact-form {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.formgroup {
  display: flex;
  gap: 10px;
  align-items: center;
  background:white; 
  padding: 12px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  margin: 10px 0;
}

.formgroup input {
  width: 100%;
  border: 2px solid var(--color-accent);
  border: none;
  outline: none;
  font-size: 16px;
}

.formgroup textarea {
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.submit-btn {
  padding: 10px;
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  border: 2px solid var(--color-accent);
  outline: none;
  background: white;
  color:var(--color-accent);
  text-transform: uppercase;
  letter-spacing: 5px;


}

.submit-btn:hover {
  background: var(--color-accent);
  color:white;
 
  }
.input-error {
  color: red;
  font-size: 14px;
}
