footer {
  padding: 10px 0px;
  background: black;
  margin-top: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  gap: 30px;
}

.footer-links a {
  color: white;
  margin-top: 10px;
}
