header {
  background-color:white;
  color: rgb(10, 10, 10);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header a {
  color: black;
}

nav {
  padding: 10px 5px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbrand a {
  font-size: 30px;
 
}

.nav-ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -200vh;
  right: 0;
  max-width: 600px;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  background: var(--color-accent);
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.4s ease;
}

.nav-ul.open {
  top: 0;
}

.nav-li {
  margin-top: 30px;
  padding: 10px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.nav-li button {
  background: none;
  color: black;
  outline: none;
  border: none;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s ease; 
}
.nav-li button:hover {
  color: var(--color-accent); 
}

.nav-li.selected {
  color:black;
  background: var(--color-accent); 
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.2);
}

.nav-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.nav-menu {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .nav-menu {
    display: none;
  }

  .nav-close {
    display: none;
  }

  .nav-ul {
    position: relative;
    height: 100%;
    flex-direction: row;
    padding-top: 0;
    background: none;
    top: 0;
  }

  .nav-li {
    margin: 0;
  }
}
