.project-card {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background: var(--button-background); */
  background: white;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.project-card .image-section,
.project-card .text-section {
  transition: all 0.3s ease;
  overflow: hidden;
}

.project-card .image-section {
  background: var(--button-background);
  padding: 10px 0;
  border-radius: 5px;
}

.project-card img {
  max-width: 100%;
  width: 250px;
  margin: 0 auto;
  display: block;
  flex: 1;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.text-section h3 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
}

.text-section p {
  margin: 10px 0 20px;
  font-size: 14px;
  color: gray;
}

.overlay .link-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
}

.link-group a {
  display: block;
  color: black;
  background: #eeeeee;
  width: 100px;
  max-width: 100%;
  text-align: center;
  padding: 15px 0;
  border-radius: 5px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 5px;
  z-index: 99;
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-card:hover .image-section img,
.project-card:hover .text-section {
  filter: blur(2px);
}

.project-card:hover .image-section img {
  transform: scale(1.05);
}
