.resume-download {

  border: none;
  outline: none;
  border: 2px solid var(--color-accent);
  background: white;
  padding: 10px;
  border-radius: 20px;
  color:var(--color-accent);
  max-width: 300px;
  font-size: 16px;
  display: block;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}



.resume-download:hover {
border: 2px solid var(--color-accent);
background: var(--color-accent);
color:white;

}



.skills {
  margin-top: 40px;
}

.skills h3 {
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight:400;
}



.skills-bar {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.skill-bar {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.skill-bar p {
  width: 150px;
  font-size: 16px;
}

.bar {
  height: 20px;
  border-radius: 99px;
}
