:root {
  --color-background: #e0e1dd;
  --color-primary: #1b263b;
  --color-dark-background: #0d1b2a;
  --color-accent: #778da9;
  --button-background: url("./assets/button-background.png") left;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--color-background);
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}

.section {
  padding: 80px 10px 0;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  margin: 20px 0;
}
